@model IEnumerable<BAO.TASK>

@{
    ViewBag.Title = "Index";
}

<h2>Task</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TASK_TYPE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TASK_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TASK_DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TASK_TYPE_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TASK_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TASK_DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" }) 
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-warning btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-sm" }) 
        </td>
    </tr>
}

</table>
